.flex-box-r{
    display:flex;
}
.flex-box-c{
    display:flex;
    flex-direction: column;
}


.recommend-bar{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.recommend-who{
    padding: 5px;
    margin-right: 6px;
    font-size: 36px;
}

.recommend-chip{
    color: black;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px 6px;
}
.recommend-what{
    font-weight: bold;
    position: relative;
    top: 15%;
    transform: translateY((-50%));
    padding: 5px;
}

#user-name{
    font-weight: bold;
}

.suggest{
    margin-top: 6%;
    font-size: 36px;
    color:  #707070;
    align-self: flex-start;
}


.profile-card{
    display: flex;
    flex-direction: column;
    background-color: #c2e6ab;
    border-radius: 30px;
    width: 400px;
    height: 450px;
    justify-content: space-evenly;
    margin: 0 10px 30px 0;
    cursor: pointer;
}
.id-container{
    margin: 0 auto;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
}

.id-container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.profile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

.profile-content > div > p{
    margin-left: 10px;
}


.profile-name{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 5px;
}

.profile-job{
    font-size: 36px;
}

.profile-intro{
    margin-top: 10px;
    text-align: left;


}

.profile-spec{
    margin-top: 20px;
    text-align: left;
    
}

.profile-skills{
    margin-top: 20px;
    text-align: left;
}

.profile-skills > p{
    font-weight: bold;
}

.cards-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 6vw;
    /* width: calc(380px + 40px) * 3; */
    width: 90vw;
    flex-wrap: wrap;
    
}

.ad-card{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 400px;
    height: 450px;
    background-color: #e5dde7;
    margin: 0 10px 30px 0;
    cursor: pointer;
}

.ad-name{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 5px;
}

.ad-type{
    font-size: 36px;


}


.ad-content > p{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px;
}

.ad-text{
    width: max-content;
    color: #f8f4f4;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 330px;
    bottom: -20px;
}


.search-result-card{
    margin: 0 auto;
    width: 1000px;
    height: 134px;
    background-color: rgba(255, 224, 130, 0.2);
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.search-result-img{
    width: 66px;
    height: 66px;
    border-radius: 50%;
}

.search-result-detail{
    gap: 8px;
}

.search-result-user{
    font-size: 36px;
    font-weight: 700;
}

.search-result-position{
    font-size: 24px;
}

.search-result-job{
    font-size: 24px;
}

.search-result-school{
    font-size: 24px;
}

.search-result-introduction-box{
    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 8px;
}

.search-result-button{
    font-size: 24px;
    width: 150px;
    height: 57px;
    background-color: #B299B0;
    border: none;
    border-radius: 7px;
}