

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


.navbar{
    background-color: #FFE082;
    display: flex;
    flex-wrap: wrap;
}

.nav-logo{
    width: 160px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    cursor: pointer;
}

.nav-icons{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.nav-icon{
    color: rgb(36, 39, 37);
    cursor: pointer;

}

.profile-pic{
    width:26px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-searchbar{
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 8px;
}
.maintitle{
    font-size: 26px;   
}

.subtitle{
    font-size: 16px;
}

.main-search-bar{
    margin-top: 4%;
    display: flex;
    width: 60%;
    height: 65px;
    margin: auto;
}

.search-div{
    margin-top: 4%;
}


