*{
    font-size: 18px;
}

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


.flex-box-c{
    display: flex;
    flex-direction: column;
}

.flex-box-r{
    display: flex;
}

.updated-friends{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}


.updated-friends-box{
    margin-top: 14px;
    width: inherit;
    height: 55px;
    background-color: rgba(249, 249, 249, 1);
    box-shadow: 2px 2px 10px 2px rgba(107, 104, 104, 0.67);
    border-radius: 10px;
    justify-content: center;
}


.updated-friends-profile{
    
}



.updated-friends-img{
    image-resolution: 1 / 1;
    width: 35px;
    border-radius: 50%;
}

.updated-friends-dot{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display:inline-block;
    position: relative;
    left: -8px;
    top: -28px;
}

.updated-card{
    background-color: rgba(255, 224, 130, 0.6);
    border-radius: 10px;
    width: 80vw;
}

.updated-card-img{
    width: 66px;
    border-radius: 50%;
    margin: 10px 30px;
}

.updated-card-name{
    font-size: 20px;
    flex: 1;
}

.updated-card-text{
    flex: 8;
}
.updated-card-icon{
    flex:1;
    gap: 10px;
    margin: 10px;
}
.updated-card-category{
    font-weight: bold;
}

.updated-card-chips{
    justify-content: center;
}

.updated-card-chip{
    font-size: 14px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 20px;
    padding: 4px 14px;
    margin: 5px;
}


.recommend{
    width: 75vw;
}

.recommend-card{
    width: 155px;
    height: 173px;
    background-color: rgba(255, 153, 0, 0.6);
    border-radius: 10px;
}

.recommend-card-img{
    width: 66px;
    border-radius: 50%;
    margin: 10px;
}

.recommend-card-name{
    margin: 10px;
    font-weight: bold;
}
.recommend-card-chips{
    margin:20px;
}
.recommend-card-idol{
    font-size: 14px;
    background-color: rgba(178, 153, 176, 1);
    border-radius: 5px;
    padding: 8px 14px;
    margin: 5px;
}